# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
# Uncomment if you don't want VS Code settings committed
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
/build/
/coverage/
**/doc/api/

# Flutter generated plugin files
**/generated_plugins.cmake

# Android
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json